# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\tutor\elec1005\assignment2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
